*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hover {
  cursor: url("../img/WoWHover.cur"), hover;
}
a:hover {
  cursor: url("../img/WoWHover.cur"), hover;
}
body {
  background-color: black;
  height: 50em;
  font-family: 'Overlock', cursive;
  cursor: url("../img/WoW.cur"), default;
}
.overLord {
  margin: 20px;
  padding: 0;
  color: white;
}

h3 {
  background-color: white;
  padding: 10px 0 10px 10px;
  color: black;
}

main {
  background-color: white;
  background-image: url("../img/darnassus2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  max-width: 100%;
  background-size: cover;
  position: relative;
  margin-top: 40px;
}
nav {
  position: relative;
  bottom: 19px;
  background-color: #adb5da;
  text-align: left;
  padding-left: 5px;
}
nav ul {
  padding: 5px;
}
nav li {
  list-style: none;
  display: inline-block;
}

nav a {
  text-decoration: none;
  font-size: 14px;
  color: #8A1CD7;
  padding-right: 4px;
}
.location {
  font-size: 150%;
  float: left;
}
.locationHead {
  position: relative;
  bottom: 57px;
}

.features, .features2, .textContent {
  height: 22%;
  background-color: white;
  color: black;
  margin-bottom: 10px;
  padding: 15px 20px;
}
.darnIcon {
  display: none;
}

@media screen and (min-width:610px) {
  body {
    background-color: white;
  }
  .overLord {
    margin: 0;
  }
  header {
    position: absolute;
    height: 165px;
    width: 175px;
    z-index: 1;
    top: 33px;
    left: 50px;
  }
  nav li {
    display: block;
    width: 100%;
  }
  nav ul, h3 {
    padding-left: 20px;

  }
  nav, h3 {
    background-color: white;
    opacity: 0.8;
  }
  main {
    height: 55vh;
    margin-top: 0;
  }
  .locationHead {
    float: left;
    clear: both;
    top: 330px;
    left: 8%;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
  }
  .features {
    display: none;
  }
  .features2, .textContent {
    display: inline-block;
    width: 48vw;
    height: 50vh;
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .textContent {
    float: right;
    background-color: black;
    color: white;
  }

  .features2 {
    font-size: 2em;
    text-align: center;
    padding-top: 40px;
    float: left;
    background-color: #1E231F;
    color: #999;
  }
  .features2:hover {
    background-color: black;
  }
  .featuredPress {
    font-size: 20px;
    float: left;
    width: 100%;
  }

  .caret {
    display: none;
  }
  .darnIcon {
    display: inline;
  }
}

@media screen and (min-width:1040px) {

  .overLord {
    clear: both;
    width: 100%;
  }

  main {
    height: 100vh;
    width: 70vw;
    margin: 0;
  }
  .locationHead {
    top: 650px;
    left: 5%;
  }

  .features2, .textContent {
    padding-top: 10%;
    float: right;
    height: 50vh;
    width: 29%;
    clear: both;
    margin-bottom: 0;
  }
  .featuresContainer {
    position: absolute;
    bottom: 1em;
    height: 100%;
  }
