*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 140em;
  font-family: 'Overlock', cursive;
}
.overLord {
  margin: 20px;
  padding: 0;
  color: white;
}

h3 {
  background-color: white;
  padding: 10px 0 10px 10px;
  color: black;
}

main {
  /*width: 95vw;*/
  height: 40vh;
  background-color: white;
  background-image: url("../img/darnassus2.jpg");
  background-position: center;
  background-size: auto;
  position: relative;
}
nav {
  position: relative;
  bottom: 19px;
  background-color: #adb5da;
  text-align: left;
  padding-left: 5px;
}
nav ul {
  padding: 5px;
}
nav li {
  list-style: none;
  display: inline-block;
}

nav a {
  text-decoration: none;
  font-size: 14px;
  color: #8A1CD7;
  padding-right: 4px;
}
.location {
  font-size: 150%;
  float: left;
}
.locationHead {
  position: relative;
  bottom: 15px;
}

.features, .features2, .textContent {
  height: 22%;
  background-color: white;
  color: black;
  margin-bottom: 10px;
  padding: 15px 20px;
}

@media screen and (min-width:740px) {
  header {
    height: 90vh;
  }
  /*.features, .textContent {
    display: inline-block;
    max-width: 46%;
    height: 37vh;
  }*/
}

/*@media screen and (min-width:1040px) {
  header {
    float: left;
    height: 96vh;
    width: 68%;

  }

  main, section {
    float: right;
    height: 47.5vh;
    width: 28%;

  }*/
}
